header {
  background-color: #28262e;
  padding: 44px 0;
  width: 100%;
}

#back-button-header {
  margin-left: 10%;
}

#profile-picture-container {
  position: relative;
  transform: translateY(-40%);
}

#profile-content {
  width: 100%;
}

#change-profile-icon {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  background-color: #ff9000;
  position: absolute;
  right: 0;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 1.25rem;
  font-family: sans-serif;
  font-weight: 500;
  color: #fff;
}
