.next-attendance-line {
  width: 2px;
  height: 80px;
  border-radius: 10px;
  background-color: #ff9000;
}

.header-schedule-attendance {
  margin-bottom: 1.5rem;
}

.attendance {
  gap: 1.625rem;
}
