body {
  background-color: #312e38;
  margin: 0;
}

#bg-image {
  min-height: 100vh;
  width: 100%;
  object-fit: cover;
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

#login-form input {
  padding: 18px 0 18px 52px;
  background-color: #232129;
  border-radius: 10px;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 1rem;
  box-sizing: border-box;
}

#login-form input:focus {
  outline: none !important;
  border: 1px solid #ff9000;
  box-shadow: none;
}

#form-button {
  background-color: #ff9000;
  color: #000;
  border: none;
  padding: 18px 0;
  font-size: 1rem;
  border-radius: 10px;
  margin: 16px 0;
}

#form-button:disabled {
  opacity: 0.5;
}

#form-button:hover {
  background-color: #fb991a;
  cursor: pointer;
}

#btn-forgot-password {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.action-label {
  font-size: 1rem;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid: auto / 50% 50%;
}

.content {
  padding: 100px 0;
}

.wrapper {
  max-width: 340px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.input-form {
  width: 100%;
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.bottom-action {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo {
  margin-bottom: 60px;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1089px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .bottom-action {
    margin-top: 3rem;
  }
}

.form-title {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #fff;
}

.align-center {
  text-align: center;
}

.orange-text {
  color: #ff9000;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-3 {
  gap: 3rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.mg-bottom-1 {
  margin-bottom: 1rem;
}

.bd-radius-100 {
  border-radius: 100%;
}

.grey-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  color: #999591;
  font-family: sans-serif;
}

.principal-title {
  font-size: 2.25rem;
  color: #f4ede8;
  font-weight: 500;
  font-family: sans-serif;
}

.content-wrapper {
  width: 1024px;
  margin: auto;
  padding: 0 1rem;
}

.grey-title {
  font-size: 1.25rem;
  line-height: 26px;
  color: #999591;
  font-weight: 400;
  font-family: sans-serif;
}

.attendance-box {
  background-color: #3e3b47;
  border-radius: 10px;
  padding: 16px 24px 16px 0;
  box-sizing: border-box;
  width: 100%;
}

.bold-white {
  color: #f4ede8;
  font-family: sans-serif;
  font-weight: 500;
}

.next-attendance-name {
  font-size: 1.5rem;
}

.attendance-name {
  font-size: 1.25rem;
}

.space-between {
  justify-content: space-between;
}

.attendance-infos {
  width: 100%;
  padding-left: 22px;
}

.attendance-hour {
  gap: 0.75rem;
}

.title-divide-line {
  background-color: #3e3b47;
  height: 1px;
  width: 100%;
  margin-top: 1rem;
}

.attendances {
  max-width: 640px;
}

.white-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: white;
  font-family: sans-serif;
}

.mg-bottom-80 {
  margin-bottom: 80px;
}

header {
  padding: 32px 0;
  width: 100%;
  background-color: #28262e;
}

#menu-container {
  display: flex;
  justify-content: space-between;
}

.main-header {
  width: 100%;
  margin: 4rem 0;
}

.grid-2-column {
  display: grid;
  grid: auto / 50% 50%;
}

.sm-5 {
  gap: 5px;
}
